@model IEnumerable<CoreDMS.Model.Files>

@{
    ViewData["Title"] = "Upload";
}
<h2>Upload</h2>

<script src="~/js/dropzone.js"></script>
<link rel="stylesheet" href="~/css/dropzone.css">

<form action="/upload/upload"
      class="dropzone"
      id="my-awesome-dropzone" name="file">
</form>