<form #heroForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="form-group">
        <label for="documentid">Document ID</label>
        <input type="text" class="form-control" id="documentid"
               required
               [(ngModel)]="model.documentid" name="documentid"
               #name="ngModel">
        <!-- <div [hidden]="documentid.valid || documentid.pristine"
             class="alert alert-danger">
            Document ID
        </div> -->
    </div>

    <button type="submit" class="btn btn-success">Submit</button>

  </form>
  <span class="error" ng-show="error" ng-cloak> {{error}}</span>

<table matSort (matSortChange)="sortData($event)" class="table table-hover">
    <tr>
        <th mat-sort-header="filename">Filename</th>
        <th mat-sort-header="hash">Hash</th>
        <th mat-sort-header="documentDate">Document Date</th>
        <th></th>
    </tr>

    <tr *ngFor="let df of dfList">
        <td><a href="/file/{{df.id}}" target="_blank">{{df.filename}}</a></td>
        <td>{{df.hash}}</td>
        <td>{{df.documentDate}}</td>
        <button mat-button (click)="openDialog(df.id)">Delete</button>
    </tr>

</table>