<table matSort (matSortChange)="sortData($event)">
    <tr>
        <th mat-sort-header="filename">Filename</th>
        <th mat-sort-header="hash">Hash</th>
        <th mat-sort-header="documentDate">Document Date</th>
        <th mat-sort-header="updatedAt">Updated</th>
    </tr>

    <tr *ngFor="let df of dfList">
        <td><a href="/file/{{df.id}}" target="_blank">{{df.filename}}</a></td>
        <td>{{df.hash}}</td>
        <td>{{df.documentDate}}</td>
        <td>{{df.updatedAt}}</td>
    </tr>        
</table>